<div class="clever-harvest-container mt-2 ml-2">
  <div class="clever-harvest-log">
    <img src="content/images/ch-logo.e1652bc3.svg" alt="clever-harvest-logo">
  </div>
  <div class="ch-content">
    <div class="ch-content-title">
      <h5 class="mt-3">Olive oil origins</h5>
    </div>
    <div class="ch-yellow-area ml-2">
      <p class="ch-paragraph p-1">Extra Virgin Olive Oil</p>
    </div>

    <div class="ch-harvest-to-mill mt-3">
      <div class="hour-section mt-2">
        <p class="hours-number">8</p><p class="hrs-word">hrs</p>
      </div>
      <div class="ch-harvest-to-mill-description ml-2">
        <div class="ch-harvest-to-mill-description-title">
          <h6 class="mt-3">Harvest to Milling Time</h6>
        </div>
        <div class="ch-harvest-to-mill-description-title" style="font-size: 12px">
          <p>Milling olives as soon as possible after harvest - ideally within 24hours - ensures that the fruits are very fresh, yielding a higher quality oil
          </p>
        </div>
      </div>
    </div>

    <div class="maps-section-container mt-3">
      <div class="maps-section card jh-card">
        <h6 class="ml-2">Olivarera Los Pedroches SCA</h6>
        <p class="ml-2">Córdoba, Spain</p>
        <agm-map [latitude]="lat" [longitude]="lng">
          <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
        </agm-map>
        <p class="mt-2 p-1">
          Olivarera los pedroches is a cooperative founded in 1957 for the olive oil production in the North of Cordoba Spain. After 1995 they have turned all their production into organic. And now they are producing as well biodynamic olive oil. They are more than just a cooperative. Its partners combine their effort and commitment to the maintenance of a mountain olive grove and the social and economic development of the region of the Valle de Los Pedroches
        </p>
      </div>
    </div>
    <div>
      <div class="phpto section">
        <img style="width: 98%" class="mt-4" src="content/photo.png" alt="photo">
      </div>
      <div class="section-containers mt-5">
          <div class="tab-row">
            <h6>&#9650; &nbsp; Geographic certified: </h6>
            <h6>No</h6>
          </div>
        <div class="tab-row mt-2">
          <h6>&#9650; &nbsp; Organic certified: </h6>
          <h6>Yes</h6>
        </div>
        <div class="tab-row mt-2">
          <h6>&#9650; &nbsp; Irrigation method: </h6>
          <h6>Manual</h6>
        </div>
        <div class="tab-row-yellow mt-2">
          <h6>&#9650; &nbsp; Filtering: </h6>
          <h6>Filtered</h6>
        </div>
        <div class="tab-row-yellow mt-2">
          <h6>&#9650; &nbsp; Grade met / chem requiremnts: </h6>
          <h6>Yes</h6>
        </div>
        <div class="tab-row-yellow mt-2">
          <h6>&#9650; &nbsp; Proper temp during milling: </h6>
          <h6>Yes</h6>
        </div>
        <div class="tab-row-yellow mt-2">
          <h6>&#9650; &nbsp; Storage container: </h6>
          <h6>Steel</h6>
        </div>
        <div class="tab-row-yellow mt-2">
          <h6>&#9650; &nbsp; Laboratory Certificate: </h6>
          <h6><a href="https://drive.google.com/file/d/1uIRPQwEoji8v0UDIvtfEP7cC9d6VYmXf/view?usp=sharing">View here</a></h6>
        </div>
      </div>

      <div class="ch-content-title">
        <h5 class="mt-3">Lot details</h5>
      </div>
      <div class="graph-section mt-3">
          <div class="cercle-green">
          </div>
        <p>Picual</p>&nbsp; <div class="sample"></div>
      </div>
      <div class="section-containers mt-5">
        <div class="tab-row">
          <h6>&#9660; &nbsp; Picual </h6>
        </div>
        <div>
          <p class="mt-2 p-1">
            Picual covers an area of more than 1,000,000 ha. in Spain. It is grown mainly in the province of Jaén, although it also has an important presence in Córdoba, Granada and Seville. Its cultivation is increasing in Spain and in the world because it is a variety of olive tree with high productive yield. Picual olives have a high fat yield, which allows for greater profitability than other varieties. The intensive olive groves of much of Spain are dedicated to the planting of this kind of olive tree. Picual olive oil has high oxidation stability and has high amounts of Oleocanthal.
          </p>
        </div>

        <div class="ch-content-title">
          <h5 class="mt-3">Harvest log</h5>
        </div>
        <div class="harvest-log-card-section mt-3">
          <div class="log-card">
            <div class="log-card-color"></div>
            <div class="log-card-content">
              <h6 class="ml-2 mt-2">Poligono 12, Parcela 47</h6>
              <p class="ml-2 mt-2">Picual</p>
              <div class="log-card-mil-time">
                <p class="ml-2">Harvest to milling Time	</p>
                <p class="mr-2">8Hours</p>
              </div>
              <a  class="ml-2" style="color: #28a745">View batch history</a>
            </div>
          </div>

          <div class="log-card mt-3 mb-2">
            <div class="log-card-color"></div>
            <div class="log-card-content">
              <h6 class="ml-2 mt-2">Poligono 20, Parcela 23</h6>
              <p class="ml-2 mt-2">Picual</p>
              <div class="log-card-mil-time">
                <p class="ml-2">Harvest to milling Time	</p>
                <p class="mr-2">8Hours</p>
              </div>
              <a class="ml-2" style="color: #28a745">View batch history</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="score-sticky">
        <div class="score-sticky-circle mt-1">
          <div class="circle">
            <p class="mt-3">98</p>
          </div>
        </div>
      <div class="how-score mt-2 ml-2">
        <h6>Quality score</h6>
        <p style="font-size: 10px">Based on important quality parameters relating to best practices in harvesting, processing, and storage</p>
      </div>
      <div (click)="openHowWeScoreModal()" >
        <a  style="font-size: 6px">How we score ></a>
      </div>
    </div>
  </div>
</div>
