  <div class="modal-header">
    <button type="button" class="btn-close" data-dismiss="modal" aria-hidden="true" (click)="cancel()"></button>
  </div>

  <div class="modal-body">
    <div class="ch-content">
      <div class="ch-content-title">
        <h5 class="mt-3">Quality score</h5>
      </div>
      <div class="score-section">
        <div class="score-sticky-circle mt-1">
          <div class="circle">
            <p class="mt-3">98</p>
          </div>
        </div>
        <div class="score-description">
          <p style="font-size: 15px;">The Clever Harvest Quality Score is based on important quality parameters relating to best practices in harvesting, processing and storage. It also factors in sensory analysis as well as certain chemical requirements, and relevant certifications that indicate a high quality olive oil.</p>
        </div>
      </div>
      <div class="score-table">
        <table class="table table-stripped">
          <thead>
          <tr>
            <td>Factor</td>
            <td>Score</td>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>Harvest to milling time	</td>
            <td>9/10</td>
          </tr>
          <tr>
            <td>Temperature (Malaxation)	</td>
            <td>15/15</td>
          </tr>
          <tr>
            <td>Basic Chemistry Requirements		</td>
            <td>15/15</td>
          </tr>
          <tr>
            <td>International certification</td>
            <td>15/15</td>
          </tr>
          <tr>
            <td>Agricultural method</td>
            <td>5/5</td>
          </tr>
          <tr>
            <td>Harvesting method</td>
            <td>5/5</td>
          </tr>
          <tr>
            <td>Milling Method</td>
            <td>5/5</td>
          </tr>
          <tr>
            <td>Filtered</td>
            <td>5/5</td>
          </tr>
          <tr>
            <td>Other Chemistry Tests</td>
            <td>10/10</td>
          </tr>
          <tr>
            <td>Sensory analysis</td>
            <td>10/10</td>
          </tr>
          <tr>
            <td>Storage type</td>
            <td>10/10</td>
          </tr>
          <tr>
            <td>Packaging type</td>
            <td>9/10</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
